@media (min-width: 600px) {
    body{
      background: #f3f9fa;
    }
  }


.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.title-app {
    text-align: center;
    font-size: 40px;
    color: #6f6f6f;
    margin-bottom: 30px
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@media (max-width: 1300px) {
    .title-app{
        font-size: 20px;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.myapp, .contentapp{
    height: 100%;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}

/* NAV  */
.navbar{
    flex-direction: column;
    align-items: normal;
    padding: 30px 0px;
}

.navbar-expand-md .navbar-nav{
    flex-direction: column;
    width: 100%;
    height: 200px;
}

.navbar-light .navbar-brand {
    margin-bottom: 20px;
    margin-left: 60px;
}

nav{
    background: white;
    border-right: solid 1px #f3f3f3;
    height: 100%;
}

.nav ul{
    display: flex;
    list-style: none;
    margin-top: 20px
}

.nav-item{
    /* margin-top: 10px;     */
    padding: 20px 0px 20px 60px;
}

.nav-active{
    border-right: 3px solid #5FB6C3;
    background: #ecececad;
}

.nav-item a{
    color: rgb(143, 143, 143);
    text-decoration: none;
}

.nav-item a:hover{
    color: #5FB6C3;
    text-decoration: underline;
}

.nav-item img{
    width: 24px;
    margin-right: 15px
}
/* END NAV  */


/* HEADER */
.addItem {
    display: flex;
    justify-content: space-between;
}

.addItem img {
    width: 32px;
    margin-left: 15px;
    transition: all .2s;
}

.tickedAll {
    transform: scaleY(-1);
}

.addInput {
    width: 90%;
    height: 50px;
    position: relative;
    /* overflow: hidden; */
}

.addText {
    width: 100%;
    height: 90%;
    border: none;
    outline: none;
    color: rgb(171 171 171);
}

.addInput label {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0px;
    pointer-events: none;
}

.label::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    border-bottom: 1px solid;
    pointer-events: none;
    transition: all .3s ease;
    opacity: 0;
}

.span {
    position: absolute;
    left: 0px;
    bottom: 7px;
    pointer-events: none;
    opacity: .3;
    transition: all .3s ease;
}

.inputHasText {
    opacity: 1;
    transform: translateY(-100%);
}

.addText:focus+.label::after {
    opacity: .5;
}

.addButton{
    position: absolute;
    right: 0;
    bottom: 10px;
    border: none;
    outline: none;
    background: none;
    font-size: 17px;
    cursor: pointer;
}

.addButton:hover {
    text-decoration: underline;
}

.hidden{
    display: none;
}

/* END HEADER */


/* FOOTER */
.item-left{
    position: absolute;
    bottom: 40px;
    left: 45px;
    opacity: .5;
}

.button-option{
    width: 60%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

.button-option button{
    padding: 9px 32px;
    border: none;
    background: white;
    font-size: 18px;
    outline: none;
    opacity: .2;
}

.status-active{
    border-bottom: 3px solid #444444 !important;
    opacity: 1 !important;    
    color: #444444;
}

.deleteAll{
    position: absolute;
    right: 40px;
    bottom: 40px;
    border: none;
    outline: none;
    padding: 15px 25px;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 5px 25px 0px #1e1e1e2b;
    background: #4ab2c1;
    animation-name: fade-up;
    animation-duration: .3s;
    animation-timing-function: ease-out;
}

.hidden{
    display: none;
}

@keyframes fade-up {
    from{
        bottom: 25px;
        opacity: 0;
    }
    to{
        bottom: 40px;
        opacity: 1;
    }
}
/* END FOOTER */


/* TASK */
.cbx {
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    margin: 0;
    margin-left: 60px;
  }
  .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .cbx span:first-child {
    position: relative;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #B9B8C3;
    transition: all 0.2s ease;
  }
  .cbx span:first-child svg {
    position: absolute;
    z-index: 1;
    top: 9px;
    left: 7px;
    fill: none;
    stroke: white;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #5FB6C3;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
    transition-delay: 0.2s;
  }
  .cbx span:last-child {
    margin-left: 8px;
  }
  .cbx span:last-child:after {
    content: "";
    position: absolute;
    top: 11px;
    left: 0;
    height: 1px;
    width: 100%;
    background: #B9B8C3;
    transform-origin: 0 0;
    transform: scaleX(0);
  }
  .cbx:hover span:first-child {
    border-color: #5FB6C3;
  }
  
  .inp-cbx:checked + .cbx span:first-child {
    border-color: #5FB6C3;
    background: #5FB6C3;
    animation: check 0.6s ease;
  }
  .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(2.2);
    opacity: 0;
    transition: all 0.6s ease;
  }
  .inp-cbx:checked + .cbx span:last-child {
    color: #B9B8C3;
    transition: all 0.3s ease;
  }
  .inp-cbx:checked + .cbx span:last-child:after {
    transform: scaleX(1);
    transition: all 0.7s ease;
  }
  .inp-cbx{
      display: none;
  }
  
  @keyframes check {
    50% {
      transform: scale(1.2);
    }
  }

.task{
    display: flex;
    padding: 15px 15px;
    border-bottom: 1px solid #919191;
    position: relative;
    height: 60px;
}

.timeStart{
    position: absolute;
    left: 10px;
    top: 18px;
    padding: 2px 7px;
    color: white;
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
}

.willStart{
    background: #faa60d;
}

.doing{
    background: #f58181;
}

.done{
    background: #7876ea;
}

.hidden{
    display: none;
}

.showTime{
    position: absolute;
    right: 150px;
    top: 20px;
}

.play{
    width: 20px;
    position: absolute;
    right: 200px;
    top: 20px;
}

.tick{
    width: 32px;
    margin-right: 20px;
}

.trash{
    width: 32px;
    position: absolute;
    right: 30px;
    top: 15px;
    opacity: 0;
    transition: all .2s;
}

.important{
    position: absolute;
    width: 30px;
    right: 10px;
    cursor: pointer;
    opacity: .5;
}

.important:hover, .options:hover{
    opacity: 1;
}

.importantOn{
    opacity: 1;
}

.importantList{
    position: absolute;
    width: 22px;
    right: 26px;
}

.options{
    position: absolute;
    width: 30px;
    right: 10px;
    cursor: pointer;
    opacity: .5;
}

.pen{
    width: 30px;
    position: absolute;
    right: 30px;
    top: 15px;
    opacity: 0;
    transition: all .2s;
}

.pen:hover{
    opacity: 1 !important;
}

.trash:hover{
    opacity: 1 !important;
}

.task:hover .pen{
    opacity: .5;
    right: 90px;
}

.task:hover .trash{
    opacity: .5;
    right: 50px;
}

.title{
    transition: all .5s;
    margin: 12px 0px;
}

.title span{
    margin-left: 30px;
    opacity: .2;
}

.linethrough{
    text-decoration: line-through;
    opacity: .3;
    transition: all .5s;
}
/* END TASK  */


/* TO DO LIST  */
.todolist {
    width: 50%;
    margin: 0px auto;
    position: relative;
    background: white;
}

.empty {
    text-align: center;
    opacity: .2;
    font-size: 80px;
}

.nothing-shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.list{
    max-height: 300px;
    overflow-y: scroll;
}

.list::-webkit-scrollbar
{
	width: 12px;
	background-color: #ffffff;
}

.list::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(224, 224, 224);
}

.hintScroll {
    position: absolute
}

@keyframes hintNext {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
} 

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}


/* media */

@media (max-width: 600px) {
    .todolist {
        width: 90%
    }
    .button-option {
        width: auto;
    }
    .addItem input {
        width: 80%
    }
    .item-left {
        bottom: auto;
        left: 18px;
    }
}

@media (max-width: 400px) {
    .button-option button {
        font-size: 16px;
    }
}

@media (max-width: 360px) {
    .button-option button {
        padding: 9px 27px;
    }
}

@media (max-width: 320px) {
    .button-option button {
        padding: 9px 24px;
    }
}

@media (max-width: 1200px) and (min-width: 601px) {
    .todolist {
        width: 70%
    }
    .button-option {
        width: 70%;
    }
    .addItem input {
        width: 80%
    }
}

@media (min-width: 1201px) and (max-width: 1300px) {
    .todolist{
        width: 80%
    }

    .navbar-light .navbar-brand{
        margin-left: 30px;
    }

    .nav-item{
        padding: 20px 0px 20px 30px;
    }
}

@media (min-width: 1301px) and (max-width: 1500px) {
    .todolist{
        width: 70%
    }

    .navbar-light .navbar-brand{
        margin-left: 30px;
    }

    .nav-item{
        padding: 20px 0px 20px 30px;
    }
}

@media (min-width: 1501px) and (max-width: 1800px) {
    .todolist{
        width: 60%
    }

    .navbar-light .navbar-brand{
        margin-left: 40px;
    }

    .nav-item{
        padding: 20px 0px 20px 40px;
    }

}

@media (min-width: 600px) {
    .todolist {
        box-shadow: 0 10.5px 5.4px -26px rgba(0, 0, 0, 0.19), 0 18.5px 9px -26px rgba(0, 0, 0, 0.212), 0 25.9px 12.2px -26px rgba(0, 0, 0, 0.209), 0 34.5px 17.1px -26px rgba(0, 0, 0, 0.198), 0 47.3px 26.8px -26px rgba(0, 0, 0, 0.187), 0 70px 46px -26px rgba(0, 0, 0, 0.19);
        border-radius: 5px;
        padding: 40px;
    }
}
/* END TO DO LIST  */

/* SETTING  */
.select{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    margin: 50px auto;
}

.option{
    background: white;
    padding: 20px 50px;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    box-shadow:
  0 1.9px 2.2px -8px rgba(0, 0, 0, 0.078),
  0 4.5px 5.3px -8px rgba(0, 0, 0, 0.095),
  0 8.4px 10px -8px rgba(0, 0, 0, 0.103),
  0 15px 17.9px -8px rgba(0, 0, 0, 0.109),
  0 28px 33.4px -8px rgba(0, 0, 0, 0.118),
  0 67px 80px -8px rgba(0, 0, 0, 0.15)
;
}

.select a{
    color: black;
    width: 100%;
    transition: transform .3s;
}

.select a img{
    width: 28px;
    margin-right: 7px
}
/* END SETTING  */

/* ABOUT YOUR TASKS */
.taskslist{
    padding: 0px 15px;
}

.main{
    /* box-shadow:
        0 1.9px 2.2px -11px rgba(0, 0, 0, 0.063),
        0 4.5px 5.3px -11px rgba(0, 0, 0, 0.07),
        0 8.5px 10px -11px rgba(0, 0, 0, 0.07),
        0 15.2px 17.9px -11px rgba(0, 0, 0, 0.066),
        0 28.4px 33.4px -11px rgba(0, 0, 0, 0.062),
        0 68px 80px -11px rgba(0, 0, 0, 0.07)
    ; */
    background: white;
    border-radius: 5px;
}

.main-left{
    height: 250px;
}

.col-6{
    margin-bottom: 30px;
}

.colorMark{
    position: absolute;
    width: 3px;
    border-radius: 50px;
    bottom: 15px;
    right: 15px;
    top: 15px;
}

.markDone{
    background: #7876ea;
}

.markDoing{
    background: #f58181;
}

.markStart{
    background: #faa60d;
}

.card{
    padding: 15px;
    border: none;
    margin-bottom: 30px;
    box-shadow: 0px 5px 10px -4px #0000007d;
}

.card p{
    color: rgb(177 177 177);
    margin: 0
}

.right-content{
    margin-top: 30px
}

/* TASK DETAIL */
.task-detail{
    padding: 30px;
}

.modal{
    position: absolute;
    background: #fff;
    top: 200px;
    left: 20%;
    right: 20%;
    border: 1px solid rgb(158, 158, 158);
    display: block;
    width: auto;
    height: auto;
    border-radius: 5px;
    animation-name: fade-up-modal;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fade-up-modal {
    from {
        top: 200px;
        opacity: 0;
    }
    to {
        top: 100px;
        opacity: 1;
    }
}

.close-button {
    padding: 10px 35px;
    border-radius: 5px;
    border: none;
    background: black;
    color: white;
    box-shadow: 3px 3px 10px 0px #00000063;
}

.detailview{
    position: absolute;
    top: 18px;
    right: 230px;
    color: rgb(97, 97, 97)
}

.detailview:hover {
    color: rgb(97, 97, 97);
}